*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/dolieng.jpeg);
    display: full;
    width: 100%;
    height: auto;
}
/* .videoselect{
    width: 253px;
    height: auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    margin-left: 650px;
    margin-top: 114px;
    border-radius: 20px;
} */

span .videoselect{
    display: flex;
    width: 250px;
    height: auto;
    border-radius: 20px;
    margin-left: 640px;
    margin-top: 35px;
}
.heading{
    text-align: center;
    margin-top: 25px;
    color: rgb(216, 47, 13);
    stroke: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}
.heading2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.selection{
    margin-left: 695px;
    margin-top: 40px;
}

